.somediv{
    width: 80%;
    max-width: 1000px;
    min-width: 500px;
    background-color: red;
    height: 50vh;
    min-height: 500px;
    max-height: 900px;
}
.somediv2{
    background-color: purple;
    height: 20vh;
    width: 500px;
}
.subdiv{
    height: 50vh;
    background-color: seagreen;
    width: 50%;
    
}