body{
    background-color: rgb(219, 217, 217);
}
.card{
    
    margin: 20px;
    position: relative;
    background-color: white;
    max-height: 416px;
    box-shadow: 4px 6px 14px 1px  rgba(128, 128, 128, 0.644);
    /* overflow-y: scroll; */
    border-radius: 10px ;
}

.img1{
    height: 150px;
    background-image:linear-gradient(rgba(204, 141, 25, 0.596),rgba(216, 202, 12, 0.534)), url(../imges/nat-5_720.jpg);
    background-size: cover;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    border-radius: 10px 10px 0 0;
}
.img2{
    height: 150px;
    background-image:linear-gradient(rgba(225, 240, 12, 0.514),rgba(182, 218, 20, 0.418)), url(../imges/nat-6.jpg);
    background-size: cover;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    border-radius: 10px 10px 0 0;
}
.img3{
    height: 150px;
    background-image:linear-gradient(rgba(0, 89, 255, 0.336),rgba(58, 173, 202, 0.315)), url(../imges/nat-7.jpg);
    background-size: cover;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    border-radius: 10px 10px 0 0;
}
.title1{
    position: absolute;
    top: 85px;
    right: 3px;
    text-transform: uppercase;
    background: linear-gradient(to top, rgb(235, 222, 164)0%,rgb(216, 202, 12)100%);
    padding: 5px;
    color: white;
}
.title2{
    position: absolute;
    top: 113px;
    right: 3px;
    text-transform: uppercase;
    background: linear-gradient(to top, rgb(233, 213, 177)0%,rgb(216, 202, 12)100%);
    padding: 5px;
    color: white;
}
.title3{
    position: absolute;
    top: 85px;
    right: 3px;
    text-transform: uppercase;
    background: linear-gradient(to top, rgb(225, 229, 165)0%,rgb(182, 218, 20)100%);
    padding: 5px;
    color: white;
}
.title4{
    position: absolute;
    top: 113px;
    right: 3px;
    text-transform: uppercase;
    background: linear-gradient(to top, rgb(225, 229, 165)0%,rgb(182, 218, 20)100%);
    padding: 5px;
    color: white;
}
.title5{
    position: absolute;
    top: 85px;
    right: 3px;
    text-transform: uppercase;
    background: linear-gradient(to top, rgb(158, 176, 209)0%,rgb(58, 173, 202)100%);
    padding: 5px;
    color: white;
}
.title6{
    position: absolute;
    top: 113px;
    right: 3px;
    text-transform: uppercase;
    background: linear-gradient(to top, rgb(158, 176, 209)0%,rgb(58, 173, 202)100%);
    color: white;
    padding: 5px;
    
}
.list{
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
    color: gray;
    font-size: smaller;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
}
.list>li{
   margin-bottom: 15px;
   padding-bottom: 10px;
   border-bottom: 1px solid rgba(184, 170, 170, 0.74);
}
.list>li:last-child{
    border-bottom: none;
    
}

